<header>
    <div class="logo">
        <div class="logo-text">ZenduForms</div>
    </div>
    <nav>
        <ul>
            <li routerLink="/forms" routerLinkActive="active">
                <img src="assets/icons/svg/format_list_bulleted.svg" alt="" />
                <span>Forms</span>
            </li>
            <li routerLink="/customers" routerLinkActive="active">
                <img src="assets/icons/svg/people.svg" alt="" />
                <span>Customers</span>
            </li>
            <li routerLink="/submissions" routerLinkActive="active">
                <img src="assets/icons/svg/graphic_eq.svg" alt="" />
                <span>Submissions</span>
            </li>
            <li routerLink="/history" routerLinkActive="active">
                <img src="assets/icons/svg/history.svg" alt="" />
                <span>History</span>
            </li>
            <li routerLink="/reports" routerLinkActive="active">
                <img src="assets/icons/svg/insert_chart_outlined.svg" alt="" />
                <span>Reports</span>
            </li>
            <li routerLink="/workflow" routerLinkActive="active">
                <img src="assets/icons/svg/insert_chart_outlined.svg" alt="" />
                <span>Workflow</span>
            </li>
        </ul>
        <ul class="right-menu">
            <li>
                <img src="assets/icons/svg/notifications.svg" alt="" />
            </li>
            <li>
                <img src="assets/icons/svg/logout.svg" alt="" />
            </li>
        </ul>
    </nav>
</header>